/* 
BW Shades Light-Dark:
White #FFFFFF
Gray 1 #F2F2F2
Gray 2 #D9D9D9
Gray 3 #B3B3B3
Gray 4 #737373
Black #000000
*/

* {
    box-sizing: border-box;
}

html {
    /* background-image: url(stars.png); */
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* -------------------- Fonts -------------------- */

/* This font is copyright 2006 Nate Piekos.  All Rights Reserved.  
Created for Blambot Fonts */

@font-face {
    font-family: 'Anime Ace';
    src: url(animeace2_reg.ttf);
}

@font-face {
    font-family: 'Anime Ace';
    src: url(animeace2_bld.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Anime Ace';
    src: url(animeace2_ital.ttf);
    font-style: italic;
}

/* -------------------- Classes -------------------- */

.clear {
    clear: both;
}

.drop_shadow {
    width: 60%;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.752);
    margin: auto;
}

.hero {
    /* MUST use display: block for margin auto to center */
    display: block;
    width: 70%;
    margin: auto;
    background-size: cover;
    position: relative;
}

.flex {
    display: flex;
    /* flex-direction: row; */
    align-items: stretch;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.bg-heading {
    background-color: #737373dc;
    clear: both;
}

header {
    padding: 3%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Anime Ace', Arial, sans-serif;
    color: #fff;
}

header h1 {
    font-family: 'Anime Ace', Arial, sans-serif;
    color: #fff;
    font-size: 200%;
    margin: auto;
    text-align: center;
    position: relative;
    /* bottom: 5%; */
    z-index: 1;
}

header h2 {
    color: #fff;
    font-size: 150%;
    margin: auto;
    text-align: center;
    z-index: -1;
    position: absolute;
    top: 1%;
    transform: rotate(15deg) scale(1.2);
    transform-origin: 10%, 20%;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: rgb(61, 61, 61);
}

/* -------------------- Nav -------------------- */

nav {
    background-image: url(stars.png);
    color: #fff;
    margin-bottom: 1%;
    /* border: 4px solid #000; */
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1% 0;
    width: 100%;
}

nav ul {
    background-color: #8080806b;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    backdrop-filter: blur(5px) brightness(60%);
}

nav ul li {
    background-color: #fff;
    border: 3px solid #000;
    flex-grow: 1;
    width: 50%;
    padding: 1%;
    margin: 1%;
    text-align: center;
    /* gap: 1rem; */
    backdrop-filter: blur(3px) drop-shadow(10px 10px 10px #000);
}

nav ul li:hover {
    background-color: #b3b3b3;
}

nav ul li a {
    color: #000;
}

/* -------------------- Table -------------------- */

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    margin: 5%;
    /* padding: 5%; */
}

tr:nth-child(odd) {
    background-color: #80808055;
}

table img {
    /* min-width: 300px; */
    width: 60%;
    margin: 1%;
}

table h2 {
    margin: 0;
}

/* td {
    border-bottom: 3px solid #fff;
} */

.table-picture {
    text-align: center;
    width: 40%;
    padding: 2%;
}

.table-text {
    width: 60%;
    padding: 2%;
    /* background-color: #73737365; */
    /* border-radius: 4px; */
}

table p {
    width: 80%;
    line-height: 1.4;
}

table aside {
    background-color: rgba(0, 0, 0, 0.609);
    padding: 5%;
    width: 70%;
    margin: 5% auto;
    border-radius: 6px;
    box-shadow: 5px 5px 10px #000;
}

table aside h3 {
    /* font-size: 200%; */
    margin: 1%;
}

table aside p {
    font-size: 90%;
    width: 90%;
    margin: 5% auto;
}

/* Forms */

form {
    color: #000;
    /* background-color: #fff; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 60%;
    /* min-width: 550px; */
}

fieldset {
    margin: 1%;
    background-color: #d9d9d9;
    padding: 5%;
    border: 4px solid #000;
}

input {
    margin: 0.5rem;
    padding: 1%;
}

.col-25 {
    float: left;
    width: 25%;
}

.col-75 {
    float: left;
    width: 75%;
}

textarea {
    margin-top: 1rem;
}

input[type='radio'] {
    margin: 1rem;
}

#form-h1 {
    display: none;
}

#form-body {
    background-color: #8080806b;
    height: 100%;
    /* padding: 2%; */
}

legend {
    background-image: url(stars.png);
    border: 4px solid #000;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1%;
    width: 100%;
}

#form-legend {
    color: rgb(255, 255, 255);
    font-size: 200%;
    /* background-color: rgba(255, 255, 255, 0.645); */
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 5px 5px 10px #000;
    padding: 3%;
    backdrop-filter: blur(5px) brightness(60%);
}

body {
    background-image: linear-gradient(#000, rgba(255, 255, 255, 0) 60%);
    margin: 0%;
    padding: 0%;
    backdrop-filter: blur(3px);
}

p {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

figure {
    background-color: rgba(0, 0, 0, 0.752);
}

figcaption {
    width: 40%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.752);
    margin: auto 3%;
    padding: 3%;
}

figcaption p {
    width: 10%;
    padding: 2%;
    margin: 5% auto;
}

figure img {
    width: 50%;
    margin: auto;
}

#guts_drop_shadow {
    background-color: #fff;
    padding: 2%;
}

aside figure {
    background-color: unset;
    /* margin: auto; */
    width: 100%;
    padding: 1%;
}

aside figcaption p {
    width: 80%;
}

#miura {
    display: block;
    width: 50%;
    margin: 3% auto;
}

article img {
    width: 50%;
    margin: auto;
}

article p {
    width: 70%;
    margin: 4% auto;
}

.source {
    width: 100%;
    margin: auto;
}

/* article a {
    text-align: right;
    margin: 5%;
} */

.media {
    display: block;
    margin: auto;
}

#video_embed {
    width: 40%;
    float: left;
    margin: 5%;
    margin-top: 0;
}

#audio_embed {
    width: 40%;
    float: left;
    margin: 5%;
    margin-top: 0;
}

#video_aside {
    margin-left: 10%;
}

#audio_aside {
    width: 40%;
    float: right;
    margin: 5%;
    margin-top: 0;
    background-color: #b3b3b337;
    border-radius: 4px;
    padding: 3%;
}

#audio_aside p {
    width: 100%;
    margin-top: 0;
}

iframe {
    margin: 0;
    margin-bottom: 5%;
}

section ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 110%;
    width: 40%;
    margin: 4% auto;
    /* padding: 1%; */
    padding-inline-start: 0;
    list-style-type: none;
    background-color: #8080806b;
}

section ul li {
    width: 100%;
    padding: 4%;
    /* margin: 2%; */
    border-bottom: 1px solid #fff;
}

section ul li:nth-child(even) {
    background-color: #737373dc;
}

section h1,
h2,
h3,
h4 {
    width: 100%;
    padding: 1%;
    margin: 4% auto;
    /* background-color: #737373dc; */
}

footer {
    padding: 1%;
    width: 70%;
    margin: auto;
    margin-top: 5%;
    background-color: #fff;
    border: 2px solid #000;
}

footer p {
    color: #000;
    font-size: 80%;
    text-align: center;
}

/*   ************ Media Queries ************  */

@media screen and (max-width: 560px) {
    .flex {
        display: block;
    }

    nav ul {
        width: 100%;
    }

    nav ul li {
        width: 100%;
        display: block;
        margin: auto;
    }

    .hero {
        /* MUST use display: block for margin auto to center */
        display: block;
        width: 100%;
        margin: auto;
        background-size: cover;
        position: relative;
    }

    #video_embed,
    #audio_embed {
        float: unset;
        margin: auto;
        margin-bottom: 2%;
    }

    #audio_aside {
        width: 100%;
        float: unset;
        margin: 0;
        margin-top: 0;
        background-color: #b3b3b337;
        border-radius: 4px;
        padding: 3%;
    }

    iframe {
        width: auto;
    }

    section ul {
        width: 100%;
    }

    .drop_shadow {
        width: 100%;
        box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.752);
        margin: 0;
    }

    #guts_drop_shadow {
        background-color: #fff;
        padding: 0;
        display: block;
    }

    figure {
        display: block;
        margin: 0;
    }

    figcaption {
        width: 100%;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.752);
        margin: 0;
        padding: 1%;
    }

    /* this keeps distorting fix */

    #miura {
        width: 100%;
        margin: 3% 0;
    }

    article {
        margin: 3% 0;
        padding: 2%;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    article img {
        width: 100%;
        margin: 0;
        clear: both;
    }

    article p {
        width: 100%;
        margin: 3% auto;
        clear: both;
    }

    main {
        display: block;
    }

    table img {
        width: 80%;
        margin: 0;
    }

    table p {
        font-size: 70%;
        line-height: 1.5;
    }

    /* figure this out - change table? */

    .table-picture {
        display: none;
        text-align: center;
        width: 100%;
        padding: 2%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table aside {
        background-color: rgba(0, 0, 0, 0.609);
        padding: 5%;
        width: 100%;
        margin: 0;
        border-radius: 6px;
        box-shadow: 5px 5px 10px #000;
    }

    form {
        color: #000;
        /* background-color: #fff; */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
        margin: auto;
        width: 100%;
        /* min-width: 550px; */
    }

    fieldset {
        /* margin: 1%; */
        background-color: #d9d9d9;
        /* padding: 5%; */
        border: 4px solid #000;
    }
}
